$orange: #E55934;

$blue: #064E86;

$white: #E2FCEF;

$brightWhite: #F4FAFF;

$textGrey: #050609; 

$greenBlack: #2D2A25;

$sand: #E5E3DF;


$text: 'Roboto', sans-serif;
$heading: 'Space Mono', monospace;

